body {
      background-color: #f0f0f0;
      background-image: url("earth.jpg");
      background-size: cover;
      background-position: center;
      text-align: center;
      font-family: Luminari;
      margin: 0;
      padding: 0;
    }

    #content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    h1 {
      font-size: 36px;
      margin-top: 0;
      margin-bottom: 20px;
    }

    #links {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 50px;
    }

    #links a {
      color: white;
      text-decoration: none;
      padding: 15px 30px;
      background-color: green;
      border-radius: 5px;
      margin: 0 25px;
      font-size: 20px;
      transition: background-color 0.5s ease;
    }

    #links a:hover {
      background-color: #0c6323;
    }